[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
psycopg2-binary = "*"
pymongo = {extras = ["srv"], version = "*"}
flask = "*"
jinja2 = "*"
flask-sqlalchemy = "*"
tweepy = "*"
spacy = "*"
python-dotenv = "*"
scikit-learn = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
